.page-main-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  flex-direction: column;
  gap: 1rem;
  background: #e4e2e2;
  opacity: 0.7;
}

.operation-title {
  color: black;
  font-weight: 600;
  margin-top: 2px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 3% 1%;
  background: #fafafa;
  border-radius: 1.25rem;
}

.pdfViewer-and-operations-container {
  display: flex;
  flex-direction: row;
  /* padding-left:1.5rem;
    padding-right: 1.5rem; */
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.operation-container {
  display: flex;
  flex-direction: column;

  width: 40%;
  /*gap: 1rem;*/
  background: #fafafa;
  margin-left: 2.5rem;
  border-radius: 0.8rem;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  gap: 1rem;
}
.para-container {
  display: flex;
  padding: 14px;
  font-size: 14px;
}
.condition-line {
  border-left: 1px solid #cecece;
  height: 3rem;
  margin: 0% 2% 1% 2%;
}
.notes-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  background: white;
  margin: 5px 5px;
  border-radius: 0.5rem;
  padding: 5px;
}
.ref-text-container {
  display: flex;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 1rem;
  margin: 12px;
  background: navajowhite;
}
.llm-box-container {
  border: 1px solid #cecece;
  width: 94%;
  margin: 18px 14px;
  border-radius: 5px;
}

.ref-item {
  display: flex;
  justify-content: center;
  border: 1px solid #cecece;
  border-radius: 5rem;
  padding: 3px 9px;
  font-weight: 700;
}
.ref-container {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  font-size: 11px;
  margin-left: 14px;
  padding-bottom: 10px;
}
.note-container {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  margin-left: .4rem;
  padding-bottom: 7px;
}

.list-style-none {
  list-style: none;
}
.heading {
  font-weight: 700;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.text-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7rem;
}
.paste-icon {
  color: #ccc;
  font-size: 1.5rem;
}
.check {
  color: green;
}
.cross {
  color: red;
}
.evidence-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.box-container {
  background-color: #e4e2e2;
  margin: 0 15px;
  padding: 8px 5px;
}
.save-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px;
}
.user-box-container {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  padding: 12px;
}
.icon-container {
  display: flex;
  gap: 15px;
  padding: 1px 14px;
  color: #ccc;
  font-size: 1.25rem;
}
.username {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.time {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-top: 4px;
  color: #ccf;
}
.person-icon {
  border: 0.01rem solid white;
  border-radius: 50%;
  background: #ccc;
  width: 2rem;
  height: 2rem;
}
.subtitle-container {
  display: none;
  justify-content: flex-start;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
}

.select-concept-container {
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  gap: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.llmAnswer_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.functional-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-container {
  display: flex;
  flex-direction: column;
}

.editable-text {
  width: 100%;
}

.save-button {
  align-self: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
