.page-main-container {
  display: flex;
  max-width: 100%;
  /* max-height: 100%; */
  overflow: auto;
  flex-direction: column;
  gap: 1rem;
  background: #e4e2e2;
  opacity: 0.7;
}

.operation-title {
  color: black;
  font-weight: 600;
  margin-top: 2px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 3% 1%;
  background: #fafafa;
  border-radius: 0.4rem;
}

.pdfViewer-and-operations-container {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.medicalchart-pdf-container {
  width: 50%;
  min-height: 600px;
}

.operation-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 600px;
  max-height: 1200px;
  overflow: auto;
  /*gap: 1rem;*/
  background: #fafafa;
  margin-left: 1rem;
  border-radius: 0.4rem;
  overflow-x: hidden;
}

.filter-container {
  max-width: 95%;
  display: flex;
  align-items: center;
  margin: 2%;
  width: 100%;
  gap: 1rem;
}

.clear-filter-button {
  margin-left: auto;
  color: #00a2f3;
  cursor: pointer;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  gap: 1rem;
}
.para-container {
  display: flex;
  padding: 14px;
  font-size: 14px;
}
.para-container span {
  font-weight: 600;
}

.note-container-div {
  margin-left: 0.9rem;
  font-weight: 600;
}

.evidence-heading {
  font-weight: 700;
  margin-left: 1.1rem;
}
.condition-line {
  border-left: 1px solid #cecece;
  height: 3rem;
  margin: 0% 2% 1% 2%;
}
.notes-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  background: white;
  margin: 5px 5px;
  border-radius: 0.5rem;
  padding: 5px;
}
.listwidth {
  width: 98%;
}
.align-box {
  display: flex;
  align-items: center;
}
.ref-text-container {
  display: flex;
  flex-direction: column;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin: 12px;
  background: white;
}
.llm-box-container {
  border: 1px solid #cecece;
  width: 96%;
  margin: 18px 14px;
  border-radius: 5px;
}

.count-circle {
  background: rgb(233, 79, 28) !important;
  text-align: center;
}
.pagenumclr {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.ref-item {
  display: flex;
  justify-content: center;
  border: 1px solid #cecece;
  border-radius: 5rem;
  padding: 3px 9px;
  font-weight: 700;
}
.ref-container {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  font-size: 11px;
  margin-left: 14px;
  padding-bottom: 10px;
}
.note-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8rem;

  padding-bottom: 7px;
}

.list-style-none {
  list-style: none;
}
.heading {
  font-weight: 700;
}
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
}
.text-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: 7rem;
}
.paste-icon {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}
.check {
  color: green;
  cursor: pointer;
}
.cross {
  color: red;
  cursor: pointer;
}

.check-disable {
  color: #cecece;
  cursor: pointer;
}
.cross-disable {
  color: #cecece;
  cursor: pointer;
}
.evidence-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.box-container {
  background-color: #e4e2e2;
  margin: 10px 15px;
  padding: 8px 5px;
}
.save-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 0px 10px;
}
.user-box-container {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  padding: 12px;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 1px 14px;
  cursor: pointer;
  color: #000;
  font-size: 1.25rem;
}
.feedback-container {
  display: flex;
  gap: 15px;
}
.page-font {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 5px;
}

.copyTextSuccess {
  font-size: 0.8rem;
  color: darkgreen;
}
.username {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.time {
  display: flex;
  align-items: center;
  font-size: 11px;
  margin-top: 4px;
  color: #ccf;
}
.person-icon {
  border: 0.01rem solid white;
  border-radius: 50%;
  width: 1.6rem;
  display: flex;
  height: 1.6rem;
  justify-content: center;
}
.subtitle-container {
  display: none;
  justify-content: flex-start;
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 600;
}

.select-concept-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  gap: 5px;
  margin: 2%;
  margin-top: 0.5%;
}

.select-notes-dd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
  gap: 5px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.llmAnswer_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.functional-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.edit-container {
  display: flex;
  flex-direction: column;
}

.editable-text {
  width: 100%;
}

.save-button {
  align-self: flex-end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* .checkbox-container-review{
  display: flex;
} */
