.evidence-container {
    width: 103%;
  }
  
  .evidence-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 38px;
    margin-left: 20px;
  }
  
  .evidence-heading {
    background-color: #e4e2e2;
    padding: 10px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .evidence-heading:hover {
    background-color: rgb(233, 79, 28, .3);
  }
  
  .evidence-heading:active {
   
  }
  .open {
    transform: rotate(180deg);
  }
  
  .evidence-content {
    padding: 10px;

  }

  .opened-accordion{
    background-color: rgb(233, 79, 28);
    color: white;
  }
 
  
  