/* Tab Container */
.Tabs {
   width: 100%;
    height: auto;
    min-height: 400px;
    border-top: none;
    margin: 0rem auto 0.5rem;
    
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
   
  }
   
  /* Tab Navigation */
  ul.nav {
    width: 45%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cecece;
    
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
   
  ul.nav li {
    width: 50%;
    padding: 2rem;
    list-style: none;
    border: .1rem solid #cecece;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
  }
   
  ul.nav li:first-child {
   
  }
   
  ul.nav li:last-child {
   
  }
   
  ul.nav li:hover {
    background: rgba(119, 133, 129, 0.15);
  }
   
  ul.nav li.active {
    background: #cecece;
    border-color: white;
  }
   
  /* Tab Content Styles */
  .tab-title {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-size: .9rem;
  }
 
   
 