/* Tab Container */
.Tabs {
  width: 100%;
  height: auto;
  min-height: 400px;
  border-top: none;
  margin: 0rem auto 0.5rem;

  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

/* Tab Navigation */
ul.nav {
  width: 100%;
  margin: 0 auto 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cecece;

  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}

ul.nav li {
  width: 50%;
  padding: 1.3rem;
  list-style: none;
  border: 0.1rem solid #cecece;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

ul.nav li:first-child {
}

ul.nav li:last-child {
}

ul.nav li:hover {
  background: rgba(233, 79, 28, 0.15);
}

ul.nav li.active {
  background: rgb(233, 79, 28);/* #e4e2e2; */
  /* border-color: #ffffff; */
}

/* Tab Content Styles */
.tab-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}
.arrow-block {
  height: 40px;
  width: 46px;
  position: relative;
  display: flex;
  overflow: hidden;
  right: 0;
  top: 0;
}

.arrow-right {
  width: 28.28px;
  height: 28.28px;
  background: #bbbbbb;
  box-shadow: 2px 2px 0 0 white;
  z-index: 100;
  position: absolute;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: #bbbbbb;
  transform: translateY(-50%) rotate(-45deg);
  border: 0 20px 20px 0 solid black;
  left: 0;
  top: 50%;
}
