.select-box-container{
    
    min-width:fit-content;
    width:15%;
    height:1rem;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
}

.select-options{
    margin-left: 0.8rem;
    outline: none;
    border: none;
    background: #f0f0f0;
    font-weight: 600;
}

/* .options{
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
} */