.homepage-main-container{
   display:flex;
   flex-direction: column;
   align-items: center;
   background-color: White;
}
.pdfscnConatainer{
   width: 90%;
   padding: 10px;
}
.searchbar-and-table{
   background-color:white ; 
   margin: 2rem;
   width:90%;
   border-radius: 0.8rem;
   box-shadow:0rem 0rem 1rem 0.6rem rgb(226, 223, 223);
}

.pagination-container{
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0.5rem;
padding: 0.5rem;
}

.pagination-info{
   color:#cccccc;
}


.no-data-msg{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 2rem;
   color:red;
}

.modal-pdf-viewer-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   gap:0.5rem;
   height:80vh;
}


.close-button{
   width:1.5rem;
   height:1.5rem;
   margin-top: 0.25rem;
}

.close-button:hover{
   cursor: pointer;
   color: red;
}

.modal-pdf-viewer{
   display: flex;
    flex-direction: column;
    width: 100%;
    height:90%;
    background: #fafafa;
}