.card{
    
    width: 16rem;
    height: 10rem;
    display: flex;
    background-color: transparent;
    
}
.text-subtitle-container{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.card-sub-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-header{
    color: #515151;
    padding: 8% 1%;
    width: 100%;
}

.card-line{
    border-left: 1px solid #ccc;
    height: 70%;
    margin: 8% 5% 8% 9%;
}