.card{
    width:15rem;
    height:10rem;
    display: flex;
    background-color: white;
    border: 0.01rem solid var(--border-color);
    border-radius: 0.25rem;
    
}

.card-header{
    background-color:var(--brand-color) ;
    width:100%;
    height:2rem;
    color:white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}