.requirements-main-container {
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}
.req-table {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.req-head {
  margin-bottom: 8%;
}

.req-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1rem;
}

.req-data {
  /* padding-left: 1%;
    padding-right: 1%; */
  color: "#535252";
  width: 5rem;
}

#requirement-name {
  color: "#535252";
  width: 15rem;
}

#True {
  background-color: #abe1a6;
  color: white;
  width: 5rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
}
#False {
  background-color: #e1a6a6;
  color: white;
  width: 5rem;
  text-align: center;
  border-radius: 0.4rem;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  cursor: pointer;
}
