.main-container{ 
 width: 100%;
 height:2%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: white;
 padding-left:1rem ;
 padding-right: 1rem;
 border-bottom: 0.2rem solid var(--brand-color);
}


.brand-logo{
    width:4rem;
    height:4rem;
    object-fit: contain;
  }

.project-title{
    color:#333333;
}

.profile-icon-container{
    /* border:0.01rem solid white; */
    border-radius: 50%;
    width:2rem;
    height:2rem;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.profile-icon{
width:100%;
height:100%;
object-fit: cover;
color:#333333;
}

hr{
    color:var(--brand-color);
}
