.findPolicy-main-contnr {
  display: flex;
  flex-direction: column;
  background-color: #e4e2e2;
  padding: 2%;
}

.findPolicy-first-screen {
  display: flex;
  flex-direction: column;
}

.findPolicy-table-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.8rem;
  padding: 2%;
  margin-top: 2%;
}

.findPolicy-table {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.8rem;
}

.findPolicy-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1rem;
  text-align: left;
}

.findPolicy-head {
  text-align: left;
}

.findPolicy-data {
  color: "#535252";
  text-align: left;
  width:5rem;
  /* min-width: fit-content; */
}

.select-button {
  display: flex;
  color: var(--brand-color);
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.findPolicy-second-screen {
  display: flex;
  flex-direction: column;
  /* background-color: #e4e2e2;
  padding: 2%; */
}

.back-button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  gap: 0.5rem;
}

.back-icon {
  font-size: 1.5rem;
}

.data-contnr {
  display: flex;
  gap: 10%;
  white-space: nowrap;
  margin-top: 2%;
}

.data-value {
  color: var(--brand-color);
}

.prior-auth,
.payer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.findPolicy-card-contnr {
  display: flex;
  gap: 1%;
  margin-top: 2%;
}

.collapse-contnr {
  display: flex;
  align-items: center;
  gap: 5%;
  align-self: flex-end;
  margin-bottom: 2.5%;
}

.collapse-button {
  color: var(--brand-color);
  font-size: 1.5rem;
}

.pdf-contnr,
.requirements-contnr,
.evidence-contnr {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0rem 0rem 0.6rem 0.6rem rgb(226, 223, 223);
  border-radius: 0.8rem;
  padding: 2%;
  padding-top: 1%;
  gap: 1.5rem;
  width: 60%;
}

.pdf-contnr {
  width: 40%;
}

.evidence-list {
  margin-top: 2%;
}
