.findPolicy-main-contnr {
  display: flex;
  flex-direction: column;
  background-color: #e4e2e2;
  padding: 2%;
}

.data-contnr {
  display: flex;
  gap: 10%;
  white-space: nowrap;
}

.data-value {
  color: var(--brand-color);
}

.prior-auth,
.payer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
}

.findPolicy-card-contnr {
  display: flex;
  gap: 1%;
  margin-top: 2%;
}

.collapse-contnr {
  display: flex;
  align-items: center;
  gap: 5%;
  align-self: flex-end;
  margin-bottom: 2.5%;
}

.collapse-button {
  color: var(--brand-color);
  font-size: 1.5rem;
}

.pdf-contnr,
.requirements-contnr,
.evidence-contnr {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0rem 0rem 0.6rem 0.6rem rgb(226, 223, 223);
  border-radius: 0.8rem;
  padding: 2%;
  padding-top: 1%;
  gap: 2%;
  width: 25%;
}

.pdf-contnr {
  width: 48%;
}
