.App {
  text-align: center;
}

.search-bar {
  display: flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 14px;
  /* border: 1px solid lightgrey; */
  margin: 25px;
  border:0px;
}



.login-header{
  color:var(--brand-color)
}




.text{
  z-index: 0;
}


.logo {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  color: rgb(233, 79, 28);
}