.App {
  text-align: center;
}

.search-bar {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 14px;
  border: 1px solid lightgrey;
  margin: 25px;
}
