body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: 'Poppins', sans-serif;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --border-color:rgb(185, 184, 184);
  --brand-color:rgb(233, 79, 28);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  padding:0.25rem;
  text-align: center;
  border-radius: 0.25rem;
}

.fa{
  opacity: 0.6;
}