.accordion-container{
    border: 0.01rem solid var(--brand-color);
    border-radius: 0.4rem;
    width:80%;
    min-height: 2rem;
    height:auto;
    min-width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    gap:1rem;
    margin-bottom: 2%;
    margin-top: 2%;
}

.accordion-title-container{
    background-color:var(--brand-color);
    width:100%;
    min-height: 2rem;
    align-self:flex-start;
    border-radius: 0.4rem;
}

.accordion-title{
    padding:0.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 800;

}
.accordion-content{
    height:auto;
    width:100%;
    padding-left: 1rem;
    padding-right:1rem;
}

