.pdfViewer-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: 100vh;
  border: 0.01rem solid var(--border-color);
  border-radius: 0.4rem;
  border-radius: 0.9rem;
  padding: 14px;
  background: #fafafa;
}

.pdfViewer-function-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-width: -moz-fit-content;
  background-color: black;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 11px;
}

.pdf-viewer-title {
  color: white;
  font-weight: 600;
}

.page-number {
  color: white;
}

.pdf-icons-container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.pdf-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}

.search-box {
  margin-left: 0.25rem;
}

.pdf-container {
  width: 100%;
  max-height: 86%;
  overflow: auto;
  padding: 2%;
  border: 0.1rem solid var(--border-color);
}


.page-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  /* height: 2rem;
    min-width: fit-content; */
}

.page-controller-btn {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
