.pdfViewer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 0.01rem solid var(--border-color);
  border-radius: 0.4rem; 
  padding: 14px;
  background: #fafafa;
}

.pdfViewer-function-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
  max-width: 100%;
  background-color: black;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 11px;
}

.pdf-viewer-title {
  color: white;
  font-weight: 600;
  max-width: 20%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pdf-viewer-title:hover {
  color: white;
  font-weight: 600;
  cursor: pointer;
  overflow: visible;
  white-space: normal;
  background-color: black;
}

.page-number {
  color: white;
}

.pdf-icons-container {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.pdf-icons {
  width: 1.85rem;
  height: 1.85rem;
  color: white;
  cursor: pointer;
}

.search-box {
  width: auto;
  margin-left: auto;
  outline: none;
  border-radius: 0.4rem;
  padding: 0.1rem;
}

.pdf-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 2%;
  border: 0.1rem solid var(--border-color);
}

.page-count-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  align-items: center;
}

.page-controller-btn {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}
